#Header {
    height: 50px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #222;
    color: #fff;
}

#Header>* {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}

#Header>*>* {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

#Header>ul>li>a {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    background: transparent;
}

#Header>ul>li>a:hover {
    transition: all .5s;
    background: #484848;
}

#Header>.brand img {
    width: 50px;
    height: 50px;
}